@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

:root{
    --primary-color: #ff511a;
    --secondary-color: #43ba7f;
    --text-color: #212741;
    --bg-color: #fff;
    --link-color: #e36402;
    --dark-bg-color: #181d30;
}

body{
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

::selection{
    background-color: var(--primary-color);
    color: var(--bg-color);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e6e3e3;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color);
}

header{
    background-color: rgb(116, 113, 113);
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo img{
    height: 5rem;
    border-radius: 50%;
}

.navlist{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlist li{
    padding: 0 1rem;
}

.navlist li a{
    color: var(--bg-color);
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
}

.navlist li a:hover,
.navlist li a.active{
    color: var(--link-color);
}

.hamburger-menu{
    display: none;
}


/* hero section */
.hero{
    background-image: url(../assets/images/hero-bg.jpg);
    width: 100%;
    height: 100%;
    left: 0;
    background-size: cover;
    animation: slide-in 2s ease-out forwards;
}

@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text{
    width: 50%;
    padding-top: 2rem;
    padding-left: 1rem;
}

.hero-text h2{
    font-size: 3.5rem;
    color: var(--bg-color);
    font-weight: 700;
    line-height: 4.375rem;
    margin-bottom: 2.5rem;
}

.hero-text h2 em{
    font-style: normal;
    color: var(--primary-color);
}

.divider{
    width: 5rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: var(--bg-color);
    margin-bottom: 2.5rem;
}

.hero-text p{
    color: var(--bg-color);
    margin-right: 3.75rem;
    margin-bottom: 3.125rem;
}


/* Section Heading */
.section-heading{
    text-align: center;
    margin-bottom: 3rem;
}

.section-heading h6{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
}

.section-heading h4{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-color);
}


/* Services */
.service-item{
    border-radius: 10px;
    padding: 2.5rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    width: 95%;
}

.services i:hover{
    margin-top: 1rem;
}

.service-item h4{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.service-item p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--primary-color);
}

.service-item i{
    transition: all 0.5s;
    float: right;
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
    margin-right: -8%;
}

.services i:hover{
    margin-top: 1rem;
}

.banner{
    background-image: url(../assets/images/banner-bg.jpg);
    background-size: cover;
    padding: 5rem 0;
    margin-top: 2%;
}

.banner .buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.banner h4{
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--bg-color);
    line-height: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.banner h4 em{
    font-style: normal;
    color: var(--secondary-color);
}

.banner h4 strong{
    color: var(--primary-color);
    font-weight: 700;
}

.btn a{
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    transition: all 0.3s;
    text-decoration: none;
}

.btn a:hover{
    opacity: 0.9;
    transform: scale(1.05);
}

.btn1 a{
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.btn2 a{
    color: var(--bg-color);
    background-color: var(--primary-color);
}


/* About Us */
.about-us{
    margin-top: 3%;
    text-align: center;
}

.course-list{
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}

.course-list li{
    display: flex;
    padding: 1rem;
}

.course-list li span{
    flex: 1;
    font-size: 1rem;
    color: var(--text-color);
}

.list-head span{
    font-weight: 600;
}

.item-title{
    color: var(--secondary-color) !important;
    font-weight: 600 !important;
}


/* Learning Plan Form */
.Learning-Plan{
    margin-top: 5%;
    display: flex;
    background-image: url(/assets/images/plan-bg.png);
}

.plan-img img{
    height: 90%;
    width: 60%;
}

.learning-form{
    margin-top: 85px;
    margin-right: 50px;
}

.learning-form form{
    display: flex;
    flex-direction: column;
}

.learning-form form>div{
    margin-bottom: 25px;
}

.learning-form .section-heading h4,
.learning-form label{
    color: var(--bg-color);
}

.learning-form input,
.learning-form select{
    background-color: grey;
    border: none;color: var(--bg-color);
}

.learning-form button{
    background-color: var(--primary-color);
    border: none;
    margin-bottom: 25px;
}


/* testimonials */
.testimonials{
    margin-top: 10%;
    width: 95%;
    margin-left: 1.7rem;
}

.testimonial-card{
    display: flex;
    background-color: var(--bg-color);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(74, 13, 13, 0.1);
    padding: 2rem;
    margin: 2rem 0;
    border: 2px solid rgb(241, 230, 230);
}

.testimonial-card .content{
    flex: 1;
}

.testimonial-card i{
    font-size: 3vw;
    color: #fff;
    background-color: #ff6347;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.testimonial-card p{
    font-size: 1.4vw;
    font-style: italic;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.testimonial-card h4{
    font-size: 1.6vw;
    font-weight: 600;
    color: var(--dark-bg-color);
    margin-bottom: 0.5rem;
}

.testimonial-card .subtitle{
    font-size: 1.2vw;
    color: var(--primary-color);
}

.testimonial-card .image-container{
    width: 20%;
    border-radius: 10px;
}

.testimonial-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev{
    left: -10%;
}

.carousel-control-next{
    right: -10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(0);
    border-radius: 50%;
    background-color: goldenrod;
}


/* Contact Us */
.map{
    margin: 0;
}

.map iframe{
    width: 100%;
}

.connection{
    display: flex;
    margin-top: -10%;
    
}

.connection .email,
.connection .phone,
.connection .address{
    background-color: var(--bg-color);
    margin: 0 4%;
    padding: 2% 2%;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.connection i,
.colorclass{
    color: #177245;
}

.connection i, .connection h5{
    font-weight: bold;
    margin: 5% 0;
}

.connection i{
    font-size: 2rem;
}

.email, .phone, .address {
    text-align: center;
}


/* Inquiry Form */
.Inquiry-Plan{
    margin: 10% 2%;
    margin-bottom: 2px;
}

.inquiry-form form{
    margin: 0% 20%;
}

.inquiry-form form .form-group .form-control{
    margin: 5% 0;
    background-color: rgb(202, 201, 201);
    height: 4rem;
}

#Inquiry-Area{
    height: 10rem;
}

.inquiry-form form button{
    background-color: var(--primary-color);
    border: none;
    height: 3rem;
}


/* Footer */
.footer{
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 2%;
}

.footer p{
    text-align: center;
}

.footer em{
    color: var(--primary-color);
}


/* Responsiveness */
@media (max-width: 990px) {
    /* hero */
    .hero{
        padding: 4rem;
    }

    .hero-text{
        width: 90%;
        text-align: center;
    }

    .hero-text h2{
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 1 rem;
    }

    .divider{
        margin: 1rem auto;
    }

    .hero-text p{
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    /* header */
    .logo img{
        height: 4rem;
    }
    .navlist li a{
        font-size: 0.8rem;
        white-space: nowrap;
    }

    /* hero */
    .divider{
        width: 12rem;
    }

    /* Service */
    .service-item{
        width: 100%;
        height: auto;
        padding: 0.5rem;
    }

    .service-item i{
        float: none;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .Learning-Plan .plan-img{
        display: none;
    }

    .learning-form{
        width: 100%;
        margin: 10px;
    }

    .learning-form form>div{
        margin-bottom: 0px;
    }

    .learning-form form .form-control{
        margin-bottom: 25px;
    }

    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }

    .testimonials{
        margin-top: 10%;
        width: 100%;
    }

    .testimonial-card {
        flex-direction: column;
        position: relative;
      }
    
    .testimonial-card .content {
        order: 0;
        padding-top: 2.5rem;
      }
    
    .testimonial-card .content i {
        position: absolute;
        top: -1rem;
        left: 1rem;
        font-size: 1rem;
      }
    
    .testimonial-card .image-container {
        order: 1;
        position: absolute;
        top: -2rem;
        right: 1rem;
        width: 60px;
        height: 60px;
      }
    
    .testimonial-card .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20%;
      }


    .connection{
        display: flex;
        margin-top: 0;
        flex-direction: column;
    }

    .connection .email,
    .connection .phone,
    .connection .address{
        margin: 2% 4%;
    }

}

@media (max-width: 560px) {
    /* Hide navigation links */
    .navlist{
        display: none;
    }

    /* Show Hamburger Menu */
    .hamburger-menu{
        display: block;
        margin-left: auto;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    /* Hero */
    .hero-text p,
    .divider{
        display: none;
    }

    /* About Us */
    .course-list li{
        flex-direction: column;
    }
}


